# tensor search:
requests==2.32.0
anyio==3.7.1
fastapi==0.109.1
uvicorn[standard]
fastapi-utils==0.2.1
jsonschema==4.17.1

# s2_inference:
more_itertools
boto3==1.25.4
botocore==1.28.4
nltk==3.7
torch==1.13.1
torchvision==0.13.1
Pillow==10.3.0
numpy==1.23.4
validators==0.20.0
sentence-transformers==2.2.2
open_clip_torch==2.23.0
clip-marqo==1.0.2
onnx
protobuf
onnxruntime==1.13.1
pandas==1.5.1
optimum==1.4.1
opencv-python-headless==4.6.0.66
psutil==5.9.4
multilingual-clip==1.0.10
redis==4.4.4

# pin specific packages (last working 0.0.19 image)
# to fix ARM64 build scikit-learn error
platformdirs==3.5.0
safetensors==0.4.1
timm==0.9.12
transformers==4.38.0

flatbuffers==23.5.9
certifi==2023.7.22
idna==3.7
six==1.14.0
typing-extensions==4.5.0
urllib3==1.26.18